kaggle_data/DailyDelhiClimateTest.csv
kaggle_data/calendar.csv
kaggle_data/DailyDelhiClimateTrain.csv
kaggle_data/sales_train_evaluation.csv
kaggle_data/sell_prices.csv
kaggle_data/sample_submission.csv
kaggle_data/sales_train_validation.csv
